/* Variabelen */
:root {
    --achtergrondKleurBody: #5dcece;
    --achtergrondKleurHeaderEnFooter: #97e1e1;
    --achtergrondKleurAccordions: #cdffff;
    --tekstKleur: white;
    --borderKleurBinnen: #5dcece;
    --borderKleurBuiten: #0f9797;
}

/* Achtergrond kleuren body's, headers, footers ,... */
body.homepage,
body.mandenPage,
body.bestelformulierPage {
    background-color: var(--achtergrondKleurBody);
}

header.homepage,
footer.homepage {
    background-color: var(--achtergrondKleurHeaderEnFooter);
}

.mandenPageAccordion {
    background-color: var(--achtergrondKleurAccordions);
}

/* Opmaak teksten */
h1.homepage,
h1.mandenPage,
h1.bestelformulierPage,
h2.homepage {
    color: var(--tekstKleur);
    font-family: "Merienda", cursive;
    text-align: center;
    margin: 0.5%
}

p.homepage {
    color: var(--tekstKleur);
    font-family: "Balsamiq Sans", sans-serif;
    text-align: center;
}

p.mandenPage,
li.mandenPage,
h4.mandenPage {
    font-family: "Balsamiq Sans", sans-serif;
}

p.mandenPage {
    font-size: small;
}

/* Opmaak Foto's + divs + accordions */
img.homepage {
    display: inline;
    width: 15%;
    margin: 0.5%
}

div.mandenPage {
    border-color: var(--borderKleurBinnen) !important;
}

.accordion-button:not(.collapsed) {
    background-color: var(--achtergrondKleurHeaderEnFooter) !important;
}

div.accordion-item,
.accordion-header,
.accordion-button {
    border: 1.5px solid var(--borderKleurBuiten) !important
}