/* Variabelen */
:root {
    --achtergrondKleurBody: #5dcece;
    --achtergrondKleurHeaderEnFooter: #97e1e1;
    --achtergrondKleurAccordions: #cdffff;
    --tekstKleur: white;
    --borderKleur: #5dcece;
}

/* Achtergrond kleuren body's, headers, footers ,... */
body.homepage,
body.mandenPage {
    background-color: var(--achtergrondKleurBody);
}

header.homepage,
footer.homepage {
    background-color: var(--achtergrondKleurHeaderEnFooter);
}

.mandenPageAccordion {
    background-color: var(--achtergrondKleurAccordions);
}

/* Opmaak teksten */
h1.homepage,
h1.mandenPage,
h2.homepage {
    color: var(--tekstKleur);
    font-family: "Merienda", cursive;
    text-align: center;
}

p.homepage {
    color: var(--tekstKleur);
    font-family: "Balsamiq Sans", sans-serif;
    text-align: center;
}

p.mandenPage,
li.mandenPage,
h4.mandenPage {
    font-family: "Balsamiq Sans", sans-serif;
}

/* Opmaak Foto's + divs */
img.homepage {
    display: inline;
    width: 10%;
    height: 10%;
}

div.mandenPage{
    border-color: var(--borderKleur) !important;
}